.container-fluid {
    font-size: 3em;

}



.display {
    border: black 2px solid;
}
.col-sm-6{
    border: black 4px solid;
}


.operators {
    border: black 4px solid
}



.col-sm-4 {
    border: black 5px solid
}
.col-sm-12 {
    border: black 4px solid;
}
